@charset "utf-8";
/* CSS Document */
body {
	text-transform:capitalize;
	background:#fff url(javascript/easyslider1.5/images/bg_body.gif) repeat-x;

	  font:80% Trebuchet MS, Arial, Helvetica, Sans-Serif;
		color:#333;
		line-height:180%;
		margin:0;
		padding:0;
}
body table{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	
}
body table tr{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;

}
body table tr td{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}

body table tr td p a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color:#000
}
th, td{	
			padding:2px 5px;
			}
#side{
	
	width:auto
}
#side a{
	color:#00F;
	font-size:18px
}
body table tr td table tr{
	font-family: Times New Roman, Times, serif;
	font-size: 16px;
	padding:2px;
	border-spacing:3px;
}
#menu{
	font-family: Times New Roman, Times, serif;
	padding:2px;
	background-color:#099
}

body table tr td table tr td p {
	font-family: Times New Roman, Times, serif;
	font-size: 16px;
	color:#000;
}
body table tr td table tr td a{
	font-family: Times New Roman, Times, serif;
	font-size: 16px;
	color:#000;
}
body table tr td table tr td a hr {
	color:#FFF;
}
body table tr td table tr td hr {
	color:#FFF;
}
body table tr td form table tr td p {
	font-family: "Times New Roman", Times, serif;
	color:#000;
}
body table tr td table tr td table tr td table tr td table a{
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	color:#000;
}
body table tr td table tr td table tr td#side table tr td p{
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	color:#FFF;
}
body table tr td table tr td p a {
	font-family: "Times New Roman", Times, serif;
}
#bodyTable {
		margin:auto;
	}

a:hover {
color:#00C;
text-decoration:none;

}
a:active {
	color:#0F3;
	font-size: 16px;
}
input, textarea {
border: 3px double #0F3;
}
#name, #email, #message {
width:100%;
}
input, textarea {
border: 3px double #FFF;
}
fieldset {
margin:0 0 5px 0;
padding:0px;
border:1px solid #FFF;
-moz-border-radius:20px;
}
.mycode{
font-family: Courier;
font-size: 14px;
color:FFF;
background-color:#099;
}
.mycode p{

color:FFF;
}
   .myform a:hover{
	   color:#000;
 }
  .myform a:active{
	   color:#0F3;

 }
 .myform a{
	 color:#03F;
	 width:auto;
	 font:Georgia, "Times New Roman", Times, serif;
	 font-size:18px
 }
 .myform p{
	 color:#0080C0;
	 width:auto;
	 font:Georgia, "Times New Roman", Times, serif;	 
	 font-size:18px
 }
 .myform fieldset{
	 color:#000;
	 padding:0.2em 2em;
	-moz-border-radius:20px;
	 width:auto;
 }
  .myform legend{
	 color:#000;
	 border-color:#fff;
	 padding:0.1em 1em;
	  -moz-border-radius:20px;
 }
 #row{
	color:#FFF;
	width:auto;
	-moz-border-radius:13px;
	background-color:#0080FF
	
	
	
}
#display{
	color:#03C;
	background-color:#FFF	
}
table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table.altrowstable tr {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}