/*------------------------------------------------------------------
[Reset Stylesheet]

Project:						Lunarpages Web Hosting
Primary use:					Web site - Screen
/*------------------------------------------------------------------
CSS Reset
*/
body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td
{
	margin: 5px;
	padding: 0;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
	
}
h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
	line-height: normal
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit
}
fieldset, img
{
	border: 0
}
address, caption, cite, code, dfn, th, var
{
	font-style: normal;
	font-weight: normal;
	line-height: normal
}
caption, th 
{
	text-align: left
}
q:before, q:after
{
	content:''
}
abbr,acronym
{
	border: 0;
	font-variant: normal;
}
sup
{
	vertical-align: text-top;
}
sub
{
	vertical-align: text-bottom;
}
input,textarea,select
{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit
}
pre,code,kbd,samp,tt
{
	font-family: monospace;
	font-size: 108%;
	line-height: 100%;
}
